.footer {
  
  justify-content: space-between;
  background-color: #0f172a;
  color: white;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #cbd5e1;
  margin-bottom: 8px;
}

.footer-col a:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #020617;
  font-size: 14px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}