.status.quoted {
  background-color: #9b59b6;
}
.complete-btn {
  background-color: #27ae60;
  color: white;
  margin-left: 75px;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #219150;
}
.quote-box button:disabled {
  background-color: #9fa8ed;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.quote-box button {
  background-color: #102af1;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.quote-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  background: #0b5bfa00;
  border-radius: 10px;
  border: 1px solid #e2e6ef;
  width: 280px;
}

/* ===== Input giá ===== */
.quote-input {
  padding: 8px 10px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s;
}

.quote-input:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

/* ===== Textarea ===== */
.quote-textarea {
  padding: 8px 10px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
  height: 60px;
  transition: 0.2s;
}

.quote-textarea:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

/* ===== Button ===== */
.quote-btn {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: rgb(17, 250, 102);
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.quote-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

/* ===== Disable button ===== */
.quote-btn:disabled {
  background: #2a83ef;
  cursor: not-allowed;
  transform: none;
}

.filter-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.filter-bar select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination button {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-bar input,
.filter-bar select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}