.public-layout {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* hiệu ứng parallax */
  background-repeat: no-repeat;
}

.public-overlay {
  min-height: 100vh;
  background: rgba(15, 23, 42, 0.8);
  padding: 40px 20px;
}